html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rps {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 20px;
  overflow: hidden;
}

.rps-rounds {
  gap: 20px;
  flex-wrap: wrap;
}

.round-container {
  border: 1px solid black;
  border-radius: 10px;
  background-color: grey;
  color: white;
  font-size: 1.5rem;
}
